rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ВПИШИ СЮДА email всех менеджеров (точь-в-точь как в Authentication)
    function isAdmin() {
      return request.auth != null && request.auth.token.email in [
        'antonioavanzato@gmail.com',
        'algatours@yahoo.com'
      ];
    }

    function validBooking() {
      let d = request.resource.data;
      return d.fio is string && d.fio.size() > 0 && d.fio.size() < 200
        && d.phone is string && d.phone.size() < 40
        && d.status == 'new'
        && d.notes.size() < 2000;
    }

    match /bookings/{id} {
      allow create: if validBooking();
      allow read, update, delete: if isAdmin();
    }

    match /push_tokens/{token} {
      allow read, write: if isAdmin();
    }
  }
}
